/*
 Theme: AAM
 Richard Cooper
*/

body {background: #FFFFFF 50% 0% no-repeat; color: #210; font: 28px Arial, sans-serif;}
a {text-decoration: none; color: #336; border-bottom: 1px dotted;}
h1, h2, h3, h4, h5, h6 {font-size: 1em; margin: 0;}
sup {font-size: 0.75em; font-weight: normal;
  vertical-align: 0.5em; line-height: 1px;}
ul {margin-left: 1em; padding-left: 0;}
li {margin-bottom: 0.66em;}
li li {margin: 0.33em 0; font-size: smaller;}
div>ul {margin-top: -0.33em;}

#header {background: url(cherryPyLogo.png) 0 100% no-repeat; border-bottom: 1px solid rgb(81,119,80);
  padding-bottom: 2em;}
#footer {background: rgb(81,119,80); color: #FFFFFF}
#header, #footer {font-size: 0.5em;}
#footer h1, #footer h2 { padding: 0.5em 0.75em;
  font-weight: normal; font-style: italic;}
#footer h1 {left: 0; font-size: 1em; letter-spacing: 1px;}
#footer h2 {position: absolute; bottom: 0; right: 0;}

#controls {font-size: 0.5em;}
#toggle {font-size: 0.9em;}
#navLinks a {margin: 0 0.33em; padding: 0 0.25em; color: rgb(81,119,80); border-bottom: none;}

#currentSlide {font-size: 0.5em;}
#currentSlide span {font-size: 13px; color: rgb(81,119,80);}

.slide h1 {font-size: 1.66em; line-height: 1; letter-spacing: -1px;
  margin: 0 -15% 0.5em 0; padding: 0.5em 15% 0.06125em 0; border-bottom: 0.06125em solid rgb(81,119,80);}
#slide0 h1 {border: none; font-size: 2.25em; letter-spacing: 0; margin: 3em 0 1.5em;}
#slide0 h3 {margin: 0.5em 0 0;}
#slide0 h4 {margin-top: 0; font-size: smaller;}
