*.egg-info
*.pyc
*.orig
build/*
dist/*
*.swp
*.log
lib
share
bin
*.kdev4
include
sphinx/source/_build
.tox

/.eggs/
/.ropeproject/
/cherrypy/test/static/has space.html
/cherrypy/test/test.conf

# pyenv local config:
.python-version

# Ignore useless OS X's dirs:
.DS_Store

# Py.test
/.cache/
/.pytest_cache/

# Eclipse, PyDev
.project
.pydevproject

# test results in junit format for Appveyor
/.test-results/

# coverage results
/.coverage
/coverage.xml

# test artifacts
/graph_AppResponse_*.png
/graph_Response_*.png
/graph_Request_*.png
