include cherrypy/cherryd
include cherrypy/favicon.ico
include cherrypy/LICENSE.txt
include cherrypy/scaffold/*.conf
include cherrypy/scaffold/static/*.png
include cherrypy/test/style.css
include cherrypy/test/test.pem
include cherrypy/test/static/*.html
include cherrypy/test/static/*.jpg
include cherrypy/tutorial/*.conf
include cherrypy/tutorial/*.pdf
include cherrypy/tutorial/*.html
include cherrypy/tutorial/README.txt
