/* The following styles size and place the slide components.
   Edit them if you want to change the overall slide layout.
   The commented lines can be uncommented (and modified, if necessary) 
    to help you with the rearrangement process. */

div#header, div#footer, div.slide {width: 100%; top: 0; left: 0;}
div#header {top: 0; left: 0; z-index: 1;}
div#footer {top: auto; bottom: 0; width: 100%; z-index: 5;}
div.slide {top: 0; width: 88%; padding: 1em 7% 2em 5%; z-index: 2;}

div#controls {bottom: 1em; left: 0; width: 100%; text-align: center; z-index: 1000;}
div#controls form {margin: 0; padding: 0;}

#currentSlide {position: absolute; left: 0; bottom: 0.5em; z-index: 10;
  width: 100%; text-align: center;}
html>body #currentSlide {position: fixed;}

/*
div#header {background: #FCC;}
div#footer {background: #CCF;}
div#controls {background: #BBD;}
div#currentSlide {background: #FFC;}
*/
